[tool.mypy]
ignore_missing_imports = true
check_untyped_defs = true
disallow_untyped_defs = false

[tool.pytest.ini_options]
norecursedirs = ["benchmarks"]
testpaths = ["tests"]
python_files = "test_*.py"
